*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #666565;
}

#site_main{
    margin: 0 auto;
    width: 70%;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
    object-position: center;
    border-radius: 5px;
    

}



.first-img{
    z-index: 2;
    position: relative;
   
}
.second-img{
    position: absolute;
    z-index: 1;
}


 .images:hover .first-img{
    z-index: 0;
}

.images:hover {
    position: relative;
    top: 3px;
}

/* tipography */
.product_name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;

}


.noUppercase{text-transform: none;}


.price{
    color: #e60b3e;
    font-weight: 700;
}

.old_price{
    color: #d3d3d3;
    font-size: .7rem;
    font-weight: 500;
    text-decoration-line:line-through;
    margin-left: .5rem;
}


#site_main div:last-child{
    margin-bottom: 1rem;
}

.row{margin-top:2rem;}


.col{float: left;
width: 32.5%;
position: relative;
}
.col.center{
    margin: 0 1.25%;

}


.like{
    position: absolute;
    top:2rem;
    right: 0;
    padding: .5rem 1.2rem;
    font-size: 2rem;
    z-index: 3;
    color: #d3d3d3;

}

.like:hover, .like:active, .like:focus{
    color: #e60b3e;
    cursor: pointer;

}


.discount{
    position: absolute;
    left: .5rem;
    bottom: 9rem;
    background-color: #e60b3e;
    color: white;
    
}
.sostenibility{
    position: absolute;
    left: 4.5rem;
    bottom: 9rem;
    background-color: green;
    color: white;
}
.sostenibility_modifier{
    left: .5rem;
}


.discount, .sostenibility{
    color: white;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: 1px;
    z-index: 3;
    border-radius: 50px;
    padding: .2rem .6rem;

}