*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #666565;
}

#site_main{
    margin: 0 auto;
    width: 70%;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
    object-position: center;
    border-radius: 5px;
    

}



.first-img{
    z-index: 2;
    position: relative;
    transition: z-index 100ms ;
    -o-transition-timing-function:cubic-bezier(.17,.67,.83,.67) ;
   
}
.second-img{
    position: absolute;
    z-index: 1;
}


 .images:hover .first-img{
    z-index: 0;
}

.images:hover {
    position: relative;
    top: 3px;
}



/* Header */

#site_header{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #d3d3d3;
}

.logo_container{

}


.logo{width:100%;
}

.nav{
margin-left: 10rem;

}

.nav-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;


}
.list-item{
    margin-right: 2.5rem;
    transition: transform 250ms;
    transform: scale(1);
}

.list-item:hover, .list-item:focus, .list-item:active{
    transform: scale(1.1);
   
}

.list-link{
    text-decoration: none;
    color: #8f8383;
    transition: color 250ms;

    
}



.list-link:hover, .list-link:focus, .list-link:active{
    color:rgb(71, 71, 71);
}







/* tipography */

.brand{font-family: 'Playfair Display', serif;
font-weight: 400;}



.product_name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;

}


.noUppercase{text-transform: none;}


.price{
    color: #e60b3e;
    font-weight: 700;
}

.old_price{
    color: #d3d3d3;
    font-size: .7rem;
    font-weight: 500;
    text-decoration-line:line-through;
    margin-left: .5rem;
}


#site_main div:last-child{
    margin-bottom: 1rem;
}

.row{margin-top:3rem;}


.col{float: left;
width: 32.5%;
position: relative;
}
.col.center{
    margin: 0 1.25%;

}


.like{
    position: absolute;
    top:.5rem;
    right: 0;
    padding: 0rem 1.2rem;
    font-size: 2rem;
    z-index: 3;
    color: #d3d3d3;

}

.like:hover, .like:active, .like:focus{
    color: #e60b3e;
    cursor: pointer;

}


.discount{
    position: absolute;
    left: .5rem;
    bottom: 8.5rem;
    background-color: #e60b3e;
    color: white;
    
}
.sostenibility{
    position: absolute;
    left: 4.5rem;
    bottom: 8.5rem;
    background-color: green;
    color: white;
}
.sostenibility_modifier{
    left: .5rem;
}


.discount, .sostenibility{
    color: white;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: 1px;
    z-index: 3;
    border-radius: 50px;
    padding: .2rem .6rem;

}