*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_main{
    margin: 0 auto;
    width: 70%;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
    object-position: center;
    

}

.first-img{
    z-index: 2;
    position: relative;
   
}
.second-img{
    position: absolute;
    z-index: 1;
}


 .images:hover .first-img{
    z-index: 0;
}

.images:hover {
    position: relative;
    top: 3px;
}

/* tipography */
.product_name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;

}


.noUppercase{text-transform: none;}


.price{
    color: red;
    font-weight: 700;
}

.old_price{
    color: black;
    font-weight: 500;
    text-decoration-line:line-through;
}


#site_main div:last-child{
    margin-bottom: 1rem;
}

.row{margin-top:2rem;}


.col{float: left;
width: 32.5%;
position: relative;
}
.col.center{
    margin: 0 1.25%;

}


.like{
    position: absolute;
    top:2rem;
    right: 0;
    background-color:white;
    padding: .5rem 1rem;
    font-size: 2rem;
    z-index: 3;
}

.discount{
    position: absolute;
    left: 0;
    bottom: 6rem;
    background-color: red;
    padding: .2rem .4rem;
    color: white;
    
}
.sostenibility{
    position: absolute;
    left: 3.2rem;
    bottom: 6rem;
    background-color: green;
    padding: .2rem .4rem;
    color: white;
}
.sostenibility_modifier{
    left: 0;
}


.discount, .sostenibility{
    color: white;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: .5px;
    z-index: 3;
}